jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
numpy==1.26.4
scikit-fuzzy==0.4.2
scipy==1.12.0
nbclient==0.9.0
nbconvert==7.16.0
nbformat==5.9.2